.cache
.git
.python-environments
.auto-save-list
.backups
.elpa
.eshell
transient
smex-items
.Rhistory
elpa/
eshell/
bookmarks
recentf
.projectile
network-security.data
projectile-bookmarks.eld
projectile.cache
snippets/markdown-mode/blogpost
.mc-lists.el
custom.el